{% extends "base.html" %}
 {% block title %} About {% endblock title %}


{% block background %}{% load static %}{% static 'img/acerca-bg.jpg' %}{% endblock %}

{% block headers %}  <h1><font face="Comic Sans MS,Arial,Verdana">Mecanicos</font></h1>
    <span class="subheading"><font face="Comic Sans MS,Arial,Verdana">Del Tecnicentro Alaska</font></span> {% endblock %}


{% block content %}
    <h2><font face="Comic Sans MS,Arial,Verdana">Agregar Mecanico</font></h2>
    <h2><font face="Comic Sans MS,Arial,Verdana">Nuestros Mecanicos</font></h2>
{% endblock %}